* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 75px;
  box-shadow: 0 0px 35px rgb(0, 0, 0);    
}

body {
  background-image: url(assets/);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  user-select: none;  
}

#tHeader {
  color: rgb(255, 255, 255);
  font-size: 27px;
  padding-top: 20px;
  padding-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 36px rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  user-select: none;
}

.hUl {
  display: flex;
  gap: 45px;
  font-size: 23px;
  padding-left: 1150px;
  position: relative;
  bottom: 29px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#hProjetos {
  color:rgb(106, 158, 160);
}

#hSobre {
  color:burlywood;
}

#hProjetos::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#hSobre::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#hIndex::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#hProjetos:hover::after {
  width: 100%;
}

#hSobre:hover::after {
  width: 100%;
}

#hIndex:hover::after {
  width: 100%;
}

footer {
  background-color: black;
  height: 75px;
  box-shadow: 0 0px 35px rgb(0, 0, 0);
  position: relative;
  top: 1163px;
}

.fUl {
  display: flex;
  gap: 45px;
  font-size: 23px;
  padding-left: 1150px;
  position: relative;
  bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;  
}

#tFooter {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: 23px;
  padding-left: 70px;
}

#fProjetos {
  color:rgb(106, 158, 160);  
}

#fSobre {
  color:burlywood;
}

#fProjetos::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#fSobre::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#fIndex::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

#fProjetos:hover::after {
  width: 100%;
}

#fSobre:hover::after {
  width: 100%;
}

#fIndex:hover::after {
  width: 100%;
}